@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: #243B4A;
  background-color: #A3B2C5;
}

h1{
  text-align: center;
  margin-top: 20px;
} 

h2{
  text-align: center;
}

p{
  text-align: center;
}

a{
  text-align: center;
}

.nav{
  background-color: #2D4654;
  text-align: center;
}

.nav a{
  text-decoration: none;
  padding: 10px 10px;
  font-size: 25px;
  color: #87BCDE;
  display: inline-block;
  cursor: pointer;
}

.nav a: hover{
  color: #C5CFC5;
}

.centerimg{
  text-align: center;
  display: block;
}

.blinking h1::after {
  content: "";
  width: 2px;
  height: 30px;
  background: #2D4654;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
