@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
body{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #11222B;
  background-color: #A3B2C5;
}

a{
  text-decoration: none;
  text-align: center;
  color: #2D4654;
}

a:hover{
  color: #0d1b22;
}

.nav{
  background-color: #11222B;
  text-align: center;
}

.nav a{
  text-decoration: none;
  padding: 10px 10px;
  font-size: 15px;
  color: #87BCDE;
  display: inline-block;
  cursor: pointer;
}

#hov a:hover{
  color: #b0dcf8;
}

.centerimg{
  text-align: center;
  display: block;
}

.heroimg{
  display: none;
}

.display{
  position: relative;
  margin-left: 100px;
}

.displaycont{
  display: inline-block;
}

.contacts{
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  color: white;
  width: 35px;
}

.img{
  border: #11222B solid 2px;
  box-shadow: -5px 10px 5px;
}

.imgdisplay{
  display: block;
  margin-top: 5%;
  margin-bottom: 10%;
}

.imgfloat{
  display: block;
  position: relative;
  width: 50%;
  margin-left: 5%;
  margin-right: 10%;
}

.desc{
  font-size: 15px;
  position: relative;
  text-align: center;
}

.btn{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: #87BCDE;
  background-color: #11222B;
  border: #11222B solid;
  border-radius: 5px;
  padding: 5px;
}

.btn:hover{
  background-color: #1a3747;
  border: #1a3747 solid;
  cursor: pointer;
}

.me{
    height: 5%;
    text-align:center;
}

.alignment{
  text-align: center;  
}

.header1{
font-size: 35px;
}

.header2{
text-align: center;
}

.header3{
text-align: center;
}

.displaycenter{

text-align: center;
  
}
  
}
  
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  {  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  body{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #11222B;
  background-color: #A3B2C5;
}

a{
  text-decoration: none;
  text-align: center;
  color: #2D4654;
}

a:hover{
  color: #0d1b22;
}

.nav{
  background-color: #11222B;
  text-align: center;
}

.nav a{
  text-decoration: none;
  padding: 10px 10px;
  font-size: 25px;
  color: #87BCDE;
  display: inline-block;
  cursor: pointer;
}

#hov a:hover{
  color: #b0dcf8;
}

.centerimg{
  text-align: center;
  display: block;
}

.heroimg{
  top: 20%;
  right: 0;
  position: absolute;
  display: block;
}

.display{
  position: relative;
  margin-left: 100px;
}

.displaycont{
  display: inline-block;
}

.contacts{
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  color: white;
  width: 35px;
}

.img{
  border: #11222B solid 2px;
  box-shadow: -10px 15px 5px;
}

.imgdisplay{
  display: flex;
  margin-top: 5%;
  margin-bottom: 10%;
}

.imgfloat{
  display: block;
  position: relative;
  width: 50%;
  margin-left: 5%;
  margin-right: 10%;
}

.desc{
  flex-direction: column;
  font-size: 20px;
  position: relative;
  text-align: center;
}

.btn{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  color: #87BCDE;
  background-color: #11222B;
  border: #11222B solid;
  border-radius: 5px;
  padding: 15px;
}

.btn:hover{
  background-color: #1a3747;
  border: #1a3747 solid;
  cursor: pointer;
}
  
.me{
    height:450px;
  }
  
.alignment{
  text-align: center;  
}

.header1{
font-size: 50px;
}
  
.header2{
text-align: center;
}

.header3{
text-align: center;
}
  
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  body{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #11222B;
  background-color: #A3B2C5;
}

a{
  text-decoration: none;
  text-align: center;
  color: #2D4654;
}

a:hover{
  color: #0d1b22;
}

.nav{
  background-color: #11222B;
  text-align: center;
}

.nav a{
  text-decoration: none;
  padding: 10px 10px;
  font-size: 25px;
  color: #87BCDE;
  display: inline-block;
  cursor: pointer;
}

#hov a:hover{
  color: #b0dcf8;
}

.centerimg{
  text-align: center;
  display: block;
}

.heroimg{
  top: 20%;
  right: 0;
  position: absolute;
  display: block;
}

.display{
  position: relative;
  margin-left: 100px;
}

.displaycont{
  display: inline-block;
}

.contacts{
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  color: white;
  width: 35px;
}

.img{
  border: #11222B solid 2px;
  box-shadow: -10px 15px 5px;
}

.imgdisplay{
  display: flex;
  margin-top: 5%;
  margin-bottom: 10%;
}

.imgfloat{
  display: block;
  position: relative;
  width: 50%;
  margin-left: 5%;
  margin-right: 10%;
}

.desc{
  flex-direction: column;
  font-size: 20px;
  position: relative;
  text-align: center;
}

.btn{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  color: #87BCDE;
  background-color: #11222B;
  border: #11222B solid;
  border-radius: 5px;
  padding: 15px;
}

.btn:hover{
  background-color: #1a3747;
  border: #1a3747 solid;
  cursor: pointer;
}

.me{
    height:450px;
  }

.alignment{
  text-align: center;  
}

.header1{
font-size: 50px;
}

.header2{
text-align: center;
}

.header3{
text-align: center;
}
  
}
@media (min-width:1281px) {  /* hi-res laptops and desktops */ 
  body{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #11222B;
  background-color: #A3B2C5;
}

a{
  text-decoration: none;
  text-align: center;
  color: #2D4654;
}

a:hover{
  color: #0d1b22;
}

.nav{
  background-color: #11222B;
  text-align: center;
}

.nav a{
  text-decoration: none;
  padding: 10px 10px;
  font-size: 25px;
  color: #87BCDE;
  display: inline-block;
  cursor: pointer;
}

#hov a:hover{
  color: #b0dcf8;
}

.centerimg{
  text-align: center;
  display: block;
}

.heroimg{
  top: 20%;
  right: 0;
  position: absolute;
  display: block;
}

.display{
  position: relative;
  margin-left: 100px;
}

.displaycont{
  display: inline-block;
}

.contacts{
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  color: white;
  width: 35px;
}

.img{
  border: #11222B solid 2px;
  box-shadow: -10px 15px 5px;
}

.imgdisplay{
  display: flex;
  margin-top: 5%;
  margin-bottom: 10%;
}

.imgfloat{
  display: block;
  position: relative;
  width: 50%;
  margin-left: 5%;
  margin-right: 10%;
}

.desc{
  flex-direction: column;
  font-size: 20px;
  position: relative;
  text-align: center;
}

.btn{
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  color: #87BCDE;
  background-color: #11222B;
  border: #11222B solid;
  border-radius: 5px;
  padding: 15px;
}

.btn:hover{
  background-color: #1a3747;
  border: #1a3747 solid;
  cursor: pointer;
}

.me{
    height:450px;
  }

.alignment{
  text-align: center;  
}

.header1{
font-size: 50px;
}

.header2{
text-align: center;
}

.header3{
text-align: center;
}

}
