@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
h1{
  text-align: center;
}

.nav{
  border: none;
  color: white;
  padding: 64px 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

